/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

:root {
    --greyblue: #2C3E50;
    --bluegreen: #1ABC9C;
    --lightgreyblue: #3A546D;
    --white: white;
    --black: black;
}

/* reset rules and debug */
ul, ol, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.debug .container,
.debug .row,
.debug .col {
    border: 2px dashed black;
    padding: 10px;
}
/* end */

/* general rules */
* {
    color: var(--black);
}

/* header rules */
.header {
    background-color: var(--greyblue);
}

/* main */
main section {
    padding: 50px 0;
}

/* hero */
.hero {
    background-color: var(--bluegreen);
}

.avatar {
    max-width: 200px;
}


/* reponsive */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .avatar {
        max-width: 250px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}