/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

:root {
    --greyblue: #2C3E50;
    --bluegreen: #1ABC9C;
    --lightgreyblue: #3A546D;
    --white: white;
    --black: black;
}

/* reset rules and debug */
ul, ol, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.debug .container,
.debug .row,
.debug .col {
    border: 2px dashed black;
    padding: 10px;
}
/* end */

/* general rules */
.darksec {
    color: var(--white);
}

.lightsec {
    color: var(--black);
}
 
.section__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}


/* header rules */
.header {
    background-color: var(--greyblue);
}

/* main */
main section,
footer section {
    padding: 50px 0;
}

/* hero */
.hero {
    background-color: var(--bluegreen);
}

.avatar {
    max-width: 200px;
}

/* about */
.about {
    background-color: var(--bluegreen);
}

.about .btn,
.about .btn:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}


/* contact-me */
.contact-me .form-control {
    border: 1px solid;
    border-radius: 0;
    border-color: transparent transparent lightgrey transparent;
}

.contact-me .btn {
    background-color: var(--bluegreen);
    border-color: transparent;
}

.footer a {
    color: var(--bluegreen);
}

/* copyright */
.copyright {
    text-transform: capitalize;
}

/* footer */
/* more-info */
.more-info {
    background-color: var(--lightgreyblue);
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon > i {
    font-size: 1.5rem;
    color: var(--white);
}

/* copyright */
.copyright {
    background-color: var(--greyblue);
}

/* reponsive */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .avatar {
        max-width: 250px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}